.btn-group-lg>.btn, .btn-lg {
    border-radius: 30px;
}


/* .form-control-lg {
    background: #251946;
    color: white;
} */


.incentive-box {

    background: #4113A0;
    max-width: 80%;
    border-radius: 16px;
    padding: 40px 120px;
}

.about-arrow{
    position: relative;
    right: 45%;
}




@media only screen and (max-width: 768px) {
    .incentive-box {
        color: white;
        background: #4113A0;
        max-width: 90%;
        border-radius: 16px;
        padding: 40px 80px;
    }


    .inc-mar{
        margin-top: 20px;
    }

  }



@media only screen and (max-width: 425px) {
    .incentive-box {

        padding: 40px 20px;
    }

    .h1-font {
        font-size: 24px;
        line-height: 48px;
        text-align: center;
    }

    .p-5 {
        padding: 0rem!important;
    }

    .legal-box {
        color: white;
        background: #4113A0;
        max-width: 87%;
        border-radius: 16px;
    }
  }

